<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Quora post</h1>
    <% for(post of posts) { %>
        <div class="post">
            <h2 class="user">@<%=post.username%>
            </h2>
            <p>
                <%=post.post%>
            </p>
            <a href="http://localhost:8080/post/<%=post.id%>"><button>See detail</button></a>
        </body>
            <hr>
        </div>
        <% } %>
            <a href="http://localhost:8080/post/new"><button>Add New Post</button></a>
</body>

</html>